<ul>
  <li><a href="#">About</a></li>
  <li><a href="#">Guild Forums</a></li>
  <li><a href="#">Home</a></li>
  <li><a href="http://www.coretheloothound.com" target="_blank">Raid Sign-Up</a></li>
  <li><a href="#">Guild Roster</a></li>
</ul>
